*{
    margin: 0;   
    padding:0;
    list-style: none;
    box-sizing: border-box;
 }

body{
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    font-weight: 500;
    background-color: #D8DAE2;
}

.container{
    margin-top:100px;
}

.photo-cover{
    position: relative;
    background-color:#EFF0F1;
    border-radius: 26px;
    padding:62px;
    box-shadow: 0px 76px 27px rgba(6, 27, 82, 0.1);
}

.photo-title h1{
    color: #0E0E38;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}

nav.categories a{
    display:inline-block;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0E0E38;
    text-decoration: none;
    margin-top:10px;
    transition: all .3s;
 }

 nav.categories a:hover{
    background: #000;
    color:#fff;
 }

 .photo-gallery{
    margin-top:60px;
    display:flex;
 }

 .gallery-box{
    background-color: #fff;
    border-radius:20px;
    flex:1;
    margin-right:20px;
    padding:20px;
 }

 .gallery-box:last-child{
    margin-right:0px;
 }

 .photo img{
    width:100%;
    cursor: pointer;
}

.tumblr{
    display:flex;
    margin-top:10px;
}

.tumblr-photo{
    background-color: #fff;
    margin-right:10px;
    flex:1;
}

.tumblr-photo:last-child{
    margin-right:0px;
 }

 .tumblr-photo img{
    width:100%;
    border-radius:15px;
    cursor:pointer;
}
 .photo-info{
    margin-top:10px;
    display:flex;
    justify-content: space-between;
 }

 .photo-info span{
    display: flex;
    align-items: center;
 }

 .photo-info span img{
    width:24px;
    height:24px;
 }


/*pattern*/
.rounded-top, .rounded-bottom{
    position:absolute;
    border-radius: 50%;
    width:300px;
    height:300px;
    background-color:#E5E7F0;
    z-index:-1;
}

.rounded-top{
    top:-80px;
    right:200px;
}

.rounded-bottom{
    bottom:-80px;
    left:200px;
}